@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1vw;
  font-family: "Roboto Mono", monospace;
  color: #191919;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-padding-top: 10px;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}

body {
  padding: 2% 6% 1% 6%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-logo {
  width: 8vw;
}
.menu-items {
  width: 2vw;
  height: 2vw;
  transition: 0.4s ease-in;
  margin: 0 3.5vw;
  transition: 0.3s ease-in;
  padding: 2px;
}
.menu-items:hover {
  border-radius: 50%;
  background-color: #de6161;
  scale: 0.9;
  transition: 0.3s ease-in;
}
.header-menu {
  border: 1px solid #191919;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40vw;
  padding: 5px 0;
}
.banner-main {
  overflow: hidden;
}
.banner-image {
  width: 100%;
  margin-top: 2vh;
  border-radius: 20px;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.banner-image:hover {
  scale: 1.2;
  transition: 0.5s ease-out;
}
main {
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  backdrop-filter: blur(14px) saturate(158%);
  -webkit-backdrop-filter: blur(14px) saturate(158%);
  background-color: rgba(17, 25, 40, 0.61);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.form-box {
  display: grid;
  margin-left: 2vw;
}
.contact {
  font-size: 2vw;
  cursor: pointer;
  position: relative;
}
.contact,
.email-text,
.comment-text {
  color: white;
}

.email-container {
  display: flex;
  margin-top: 8vh;
  align-items: center;
}
.email {
  width: 20vw;
  border-radius: 8px;
  margin-left: 1vw;
  border: none;
}
.comment-text {
  margin: 5vh 0;
}
.comment {
  width: 80vw;
  height: 50vh;
  border: none;
  border-radius: 8px;
}
.submit-button {
  color: white;
  border: none;
  background-color: #de6161;
  padding: 1vw 10vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-out;
  margin-top: 3vh;
}
.submit-button:hover {
  scale: 1.15;
  background-color: rgb(55, 224, 91);
  transition: 0.4s ease-out;
  border-radius: 25px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 6vh;
  background-color: #beb7a4;
  border-radius: 20px;
  margin: 4vh 0;
}
.social-logo {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.social-logo:hover {
  scale: 1.2;
  transition: 0.3s ease-out;
}
footer {
  padding-top: 10vh;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #beb7a4;
  height: 15vh;
  border-radius: 15px;
}
.copyright {
  height: 15vh;
  display: grid;
  place-items: center;
}
.content {
  padding-top: 4vh;
}
.hidden {
  scale: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.show {
  scale: 1;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
