@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1vw;
  font-family: "Roboto Mono", monospace;
  color: #191919;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-padding-top: 10px;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}

body {
  padding: 2% 6% 1% 6%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-logo {
  width: 8vw;
}
.menu-items {
  width: 2vw;
  height: 2vw;
  transition: 0.4s ease-in;
  margin: 0 3.5vw;
  transition: 0.3s ease-in;
  padding: 2px;
}
.menu-items:hover {
  border-radius: 50%;
  background-color: #de6161;
  scale: 0.9;
  transition: 0.3s ease-in;
}
.header-menu {
  border: 1px solid #191919;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40vw;
  padding: 5px 0;
}
.banner-main {
  overflow: hidden;
}
.banner-image {
  width: 100%;
  margin-top: 2vh;
  border-radius: 20px;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.banner-image:hover {
  scale: 1.2;
  transition: 0.5s ease-out;
}
main h1 {
  text-align: center;
  padding-top: 5vh;
}

.box {
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 100%;
  height: 15vw;
  margin: 10vh 0;

}
.text-container{
  width: 100%;
  height: 15vw;
  background-color: #de6161;
  border-radius: 20px;
  display: grid;
}

.information {
  scale: 0.8;
  transition: 0.4s ease-in;
}
.information:hover {
  scale: 1;
  transition: 0.4s ease-in;
  color: white;
}

.About-us:hover {
  scale: 1.2;
  transition: 0.4s ease-out;
}
.skill:hover {
  scale: 1.2;
  transition: 0.4s ease-out;
}
.About-us,
.skill {
  width: 30vw;
  height: 15vw;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s ease-out;
  z-index: 999;
}
.skill-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skill-logo {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.skill-logo:hover {
  scale: 1.4;
  transition: 0.3s ease-out;
}
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 35px;
}
.content-image {
  width: 20vw;
  height: 13vw;
  transition: 0.4s ease-in;
  border-radius:15px
}
.content-image:hover {
  scale: 1.25;
  transition: 0.4s ease-in-out;
}
.SP {
  text-decoration: none;
}
.main-btn {
  display: flex;
  justify-content: center;
  text-align: center;
}

.buy-btn {
  padding: 1vw 10vw;
  color: white;
  background-color: #de6161;
  border-radius: 25px;
  border: transparent;
  margin: 4vh 0;
  cursor: pointer;
  transition: 0.4s ease-out;
}
.buy-btn:hover {
  background-color: rgb(55, 224, 91);
  transition: 0.4s ease-out;
}

footer {
  padding-top: 10vh;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #beb7a4;
  height: 15vh;
  border-radius: 15px;
}
.copyright {
  height: 15vh;
  display: grid;
  place-items: center;
}
.content {
  padding-top: 4vh;
}
.hidden {
  scale: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.show {
  scale: 1;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
